<?xml version="1.0" encoding="UTF-8"?>
<web-app 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
  <display-name>RK_Portrait_Studio</display-name>
  <servlet>
    <servlet-name>LoginPage</servlet-name>
    <jsp-file>/WEB-INF/Views/Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginPage</servlet-name>
    <url-pattern>/LoginPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomePage</servlet-name>
    <jsp-file>/WEB-INF/Views/Home.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePage</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeDefaultLogonPSWD</servlet-name>
    <jsp-file>/WEB-INF/Views/DefaultPasswordChange.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeDefaultLogonPSWD</servlet-name>
    <url-pattern>/ChangeDefaultLogonPSWD</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Bills</servlet-name>
    <jsp-file>/WEB-INF/Views/Bills.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bills</servlet-name>
    <url-pattern>/Bills</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Dashboard</servlet-name>
    <jsp-file>/WEB-INF/Views/Dashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dashboard</servlet-name>
    <url-pattern>/Dashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserCreationPage</servlet-name>
    <jsp-file>/WEB-INF/Views/UserCreation.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCreationPage</servlet-name>
    <url-pattern>/UserCreation</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserAdminPage</servlet-name>
    <jsp-file>/WEB-INF/Views/UserAdmin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdminPage</servlet-name>
    <url-pattern>/UserAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogonServlet</display-name>
    <servlet-name>LogonServlet</servlet-name>
    <servlet-class>com.studio.servlets.LogonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogonServlet</servlet-name>
    <url-pattern>/LogonServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ValidateAuth</display-name>
    <servlet-name>ValidateAuth</servlet-name>
    <servlet-class>com.studio.servlets.ValidateAuth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidateAuth</servlet-name>
    <url-pattern>/ValidateAuth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.studio.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAdminServ</display-name>
    <servlet-name>UserAdminServ</servlet-name>
    <servlet-class>com.studio.servlets.UserAdminServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAdminServ</servlet-name>
    <url-pattern>/UserAdminServ</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>AuthenticationFilter</display-name>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.studio.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
  </filter-mapping>
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>DashboardServ</display-name>
    <servlet-name>DashboardServ</servlet-name>
    <servlet-class>com.studio.servlets.DashboardServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServ</servlet-name>
    <url-pattern>/DashboardServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.studio.servlets.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PhotoMaster</servlet-name>
    <jsp-file>/WEB-INF/Views/PhotoMaster.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoMaster</servlet-name>
    <url-pattern>/PhotoMaster</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MirrorMaster</servlet-name>
    <jsp-file>/WEB-INF/Views/MirrorMaster.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>MirrorMaster</servlet-name>
    <url-pattern>/MirrorMaster</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FrameMaster</servlet-name>
    <jsp-file>/WEB-INF/Views/FrameMaster.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrameMaster</servlet-name>
    <url-pattern>/FrameMaster</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FrameMasterServ</display-name>
    <servlet-name>FrameMasterServ</servlet-name>
    <servlet-class>com.studio.servlets.FrameMasterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrameMasterServ</servlet-name>
    <url-pattern>/FrameMasterServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PhotosMasterServ</display-name>
    <servlet-name>PhotosMasterServ</servlet-name>
    <servlet-class>com.studio.servlets.PhotosMasterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotosMasterServ</servlet-name>
    <url-pattern>/PhotosMasterServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MirrorMasterServ</display-name>
    <servlet-name>MirrorMasterServ</servlet-name>
    <servlet-class>com.studio.servlets.MirrorMasterServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MirrorMasterServ</servlet-name>
    <url-pattern>/MirrorMasterServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CaptchaHandlerServ</display-name>
    <servlet-name>CaptchaHandlerServ</servlet-name>
    <servlet-class>com.studio.servlets.CaptchaHandlerServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptchaHandlerServ</servlet-name>
    <url-pattern>/CaptchaHandlerServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TempPasswordServ</display-name>
    <servlet-name>TempPasswordServ</servlet-name>
    <servlet-class>com.studio.servlets.TempPasswordServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TempPasswordServ</servlet-name>
    <url-pattern>/TempPasswordServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DefaultPswdServ</display-name>
    <servlet-name>DefaultPswdServ</servlet-name>
    <servlet-class>com.studio.servlets.DefaultPswdServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DefaultPswdServ</servlet-name>
    <url-pattern>/DefaultPswdServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Dummy</display-name>
    <servlet-name>Dummy</servlet-name>
    <servlet-class>com.studio.servlets.Dummy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Dummy</servlet-name>
    <url-pattern>/Dummy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DropDownValues</display-name>
    <servlet-name>DropDownValues</servlet-name>
    <servlet-class>com.studio.servlets.DropDownValues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DropDownValues</servlet-name>
    <url-pattern>/DropDownValues</url-pattern>
  </servlet-mapping>
</web-app>